# Порт для сервера
PORT=3000

# Данные для подключения к MongoDB
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourClusterURL
MONGODB_DB=contactsdb


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_login
SMTP_PASSWORD=your_brevo_smtp_key
SMTP_FROM=your_brevo_email
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth


CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_secret
